* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background: url(../imagenes/manga-anime-games-1950769.png);
    background-size: 100vw 100vh;
    background-repeat: repeat;
    background-attachment: fixed;
}

    
form {
    width: 400px;
    background: rgba(39,41,43);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
    

#emailHelp{
    color: white;
}

    
