<div class="container">
    <form id="box-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formCatalogo %}
            <div class="mb-3">
                <label for="formFile" class="form-label">{{campo.label}}</label>
                <input type="{{ campo.field.widget.input_type }}" id="" name="{{campo.name}}" class="form-control" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}">
            </div>
            <div>{{ campo.errors }}</div>   
            {% endfor %}
            <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>